.logo{
    min-width: 100%;
    height: 100%;
    background-image: url('../../../assets/images/logoUI.png');
    background-size: 60%;
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: pointer;
}