.portfolioContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 2s ease-in-out;
  background-color: #F4F4F4;
  text-align: left;
  .categoryTitle{
    color: #F4F4F4;
  }
}


.portfolioContainer .titleItem {
  display: flex;
  flex-direction: row;
  z-index: 5;
}

.portfolioContainer .titleItem span {
  color: var(--colors-neutral-900);
  font-size: 36px;
  margin: 28px 4px;
}

.portfolioContainer h1 {
  margin: 36px 0 36px 0;
  font-size: 36px;
}
.filters{
  width: 56%;
  margin-bottom: 4em;
  button{
    width: 6em;
    height: 2em;
    border: none;
    background-color: #FFFF;
    margin-left: 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    transition: all .3s ease-in-out;
    &:Hover{
      background-color: #5609F9;
      color: #FFFF;
      
    }
  }
  .active{
    background-color: #5609F9;
    color: #FFFF;
  }
}
.portfolioComponent {
  width: 77%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: auto; 
  transition: opacity 0.4s ease-in-out;
  &.fading {
    opacity: 0;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.portfolioComponent.expanded {
  animation: heightTransition .8s forwards;
}

@keyframes heightTransition{
  from{
    height: 28em;
  }
  to{
    height: 48em;
  }
}
@keyframes heightTransitionReverse{
  from{
    height: 48em;
  }
  to{
    height: 28em;
  }
}
.portCard {
  background-color: none;
  position: relative;
  border-radius: 16px;
  width: 22em;
  height: 100%;
  background-size: cover;
  margin: 0  8px 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all .4s ease-in-out;
  z-index: 1;
  padding: 16px;
  span{
    font-size: 22px;
    margin-bottom: 8px;
    color: #272727;
  }
  p{
    font-weight: 400;
    font-size: 12px;
    color: #272727;
  }
  &:hover{
    cursor: pointer;
  }
}

.portCard img {
  border-radius: 16px;
  margin-bottom: 8px;
}

.portCard .titleText {
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #353535;
}

.portCard .titleText h1 {
  font-size: 12px;
}

.portCard:hover {
  transform: scale(1.1);
  position: unset;
  z-index: 5;
  span{
  }
  p{
  }
}

.portCard:hover .titleText {
  position: absolute;
  animation: cardDown .8s forwards;
  padding: 8px;
  transition: all .3s ease-in-out;
}

.portCard:hover .portCardDescription {
  display: block;
  animation: cardDownDescription .65s forwards;
}

.loadingButton {
  width: 16%;
  height: 2em;
  background-color: var(--colors-neutral-900);
  color: #FFFF;
  border-radius: 16px;
  z-index: 5;
  margin-bottom: 16px;
  cursor: pointer;
}

.loadingButton a svg {
  width: 24px;
  height: 24px;
}
.buttons {
  display: flex;
  margin-bottom: 18px;
  margin-top: 16px;

  .design {
    width: 36%;
    height: 28px;
   
    background-color: #7B4AE2;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;

    a {
        font-size: 14px;
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      transform: translateY(-2px);
    }
  }

  .online {
    width: 26%;
    height: 28px;
    background-color: #06FF49;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s; 
    margin-right: 8px;
    a {
      color: white;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }

    &:hover {
      transform: translateY(-2px); 
    }
  }
}
@keyframes backgroundMove {
  0% {
    top: 0%;
  }
  15% {
    top: 0%;
  }
  75% {
    top: -250%;
  }
  100% {
    top: 0%;
  }
}

@keyframes cardDown {
  0% {
    bottom: 0;
  }
  100% {
    bottom: 25%;
  }
}

@keyframes cardDownDescription {
  0% {
    bottom: 0%;
    height: 0;
  }
  100% {
    height: 48px;
    bottom: -3%;
  }
}

@keyframes cardDownResponsive {
  0% {
    bottom: 0%;
  }
  100% {
    bottom: 34%;
  }
}

@media (max-width: 1366px) {
  .portfolioContainer .portfolioComponent .portifolioCard .portItens {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .portfolioContainer .portfolioComponent .portifolioCard .portItens {
    width: 100%;
  }
  .portCard{
    width: 40%;
    height: auto;
  }
}

@media (max-width: 780px) {
  .portfolioContainer .portfolioComponent .portifolioCard {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .filters{
    width: 100%;
  }
  .portfolioComponent{
    width: 100%;
  }
  .portCard{
    width: 80%;
    height: auto;
  }
  .portfolioContainer .portfolioComponent .portifolioCard .portItens {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 24px;
  }

  .portfolioContainer .portfolioComponent .portifolioCard .portCard {
    width: 12em;
    height: 8em;
    margin: 8px 16px;
  }

  .portfolioContainer .portfolioComponent .portifolioCard .portCard:hover .titleText {
    position: absolute;
    animation: cardDownResponsive .8s forwards;
  }
  .loadingButton{
    width: 50%;
  }
 
  .containerPlus{
    height: 80em;
  }
} 
