.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #FFFFFF;
}
.contactContainer{
    width: 80%;
    height: 100%;
    margin-top: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.textsContact{
    width: 30%;
    text-align: center;
    h1{
        font-size: 48px;
    }
    span{
        font-size: 18px;
    }
}
.contactCard{
    border-top: #D9D3EB solid 1px;
    border-bottom: #D9D3EB solid 1px;
    margin-top: 2em;
}
.contactInfo{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
   
    span{
        font-size: 18px;
        font-weight: 600;
    }
    p{
        font-size: 18px;
        font-weight: 400;
    }
    .iconSvg{
        margin-right: 2em;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #0C0C0C;
            border-radius: 100%;
        svg{
            width: 24px;
            height: 24px;
            color: #F0F0F0;
            
        }
    }
}
.socialMedia{
    display: flex;
    margin-top: 1em;
    svg{
        font-size: 36px;
        margin-right: 1em;
    }
}

.contactForm{
    width: 50%;
    height: 60%;
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;

}

@media (max-width:1080px) {
    .contactContainer{
        flex-direction: column;
        align-items: center;
    }
  .textsContact{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contactForm{
    width: 80%;
  }
}
