.main_container {
  width: 100%;
  height: 42em;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .8s ease-in-out;
}

.main {
  width: 100%;
  height: 42em;
  background-image: url('../../assets/images/background-main.jpg');
  opacity: .3;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

.main_box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.main_box h1, .main_box h2, .main_box span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
}

.typewriter {
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
  border-right: 0.15em solid white;
}

.main_box h1 {
  font-size: 48px;
  color: white;
  font-weight: 700;
  font-family: jaldi;
}

.main_box h2 {
  color: white;
  font-size: 36px;
  font-weight: 600;
}

.main_box span {
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-top: 8px;
}

.buttonCard {
  width: 80%;
  height: 2em;
  margin-top: 8px;
}

.main_buttons {
  width: 40%;
  height: 100%;
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.buttonsItem {
  margin-right: 16px;
}

@media (max-width: 1366px) {
  .main{
    background-position: center;
  }
  .main_buttons {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .main_box h1 {
    font-size: 36px;
  }

  .main_box h2 {
    font-size: 24px;
  }

  .main_box span {
    font-size: 8px;
  }

  .typewriter {
    font-size: 14px;
  }

  .main_buttons {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .main_box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main_box h1 {
    font-size: 24px;
  }

  .main_box h2 {
    font-size: 18px;
  }

  .main_box span {
    font-size: 8px;
  }

  .typewriter {
    font-size: 8px;
  }

  .main_buttons {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .main_container{
    height: 24em;
  }
 
  .main_box span {
    font-size: 8px;
    white-space: normal;
    word-wrap: break-word;
  }

  .typewriter {
    animation: none;
    border: none;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: white;
  }
}
