.servicesItems{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
    margin-top: 50px;
    width: 70%;
    height: 100%;
    justify-content: center;
}

.nameLogo{
    display: flex;
    flex-direction: column;
    span{
        transition: all 0.5s ease-in-out;
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:#0C0C0C;
        border-radius: 100%;
        margin-right: 16px;
        color: #F4F4F4;
    }
    h3{
        margin-top: 36px;
    }
}
.servicesItem {
    width: 320px;
    height: 100%;
    margin: 10px;
    background-color: #F4F4F4;
    margin-right: 36px;
    border-radius: 16px;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    padding: 24px;
    h3 {
        color: #0C0C0C;
        font-weight: bold;
        font-size: 24px;
        transition: color 0.3s ease-in-out;
    }
    li {
        color: #0C0C0C;
        font-weight: 400;
        font-size: 16px;
        transition: color 0.3s ease-in-out;
        
    }
    ul{
        padding: 0;
     }
}

.servicesItem:hover {
    transform: translateY(-10px);
    background-color: #0C0C0C;
    color: #F4F4F4;
    cursor: pointer;
    border: solid 2px #4200FF;
    box-shadow: 0 0 10px rgba(66, 0, 255, 0.5);
    .nameLogo{
        span{
            background-color: #F4F4F4;
            color: #0C0C0C;
        }
        h3{
            color: #F4F4F4;
        }
        svg{
            color: #4200FF;
        }
    }
}

.servicesItem:hover h3, 
.servicesItem:hover li {
    color: #F4F4F4;
   
}
.servicesUl {
    list-style: none; 
}
.serviceLi::before {
    font-size: 20px; 
    display: inline-block; 
    width: 1em;
    margin-left: -1em; 
}

@media(max-width: 768px){
    .servicesItems{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .servicesItem{
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 250px;
    }
}