.about_container{
    width: 100%;
    height: 32em;
    background-color: #757575;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: right;
    justify-content: space-around;
    transition: all .8s ease-in-out;
    .aboutCard{
        background-image: url('../../assets/images/DevRoom.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: contain;
        width: 100%;
        display: flex;
        flex-direction: row;
        position: relative;
       
        background-position: center;
    background-size: cover;
        .imgCard{
            width: 70%;
            height: 100%;
            border-radius: 8px;
             &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.8); 
            z-index: 1;
        }
        }
        .aboutTextContainer{
            width: 68%;
            margin-left: -13%;
            z-index: 2;
            background-repeat: round;
            display: flex;
            justify-content: center;
            text-align: center;
            .textContent{
                display: flex;
                flex-direction: column;
                margin-left: 8%;
                width: 70%;
                text-align: right;

            }
            h1{
                margin-top: 8%;
                font-size: 36px;
                font-weight: 400;
                color: #fff;
                border-bottom: 2px solid var(--colors-neutral-900);
            }
            h2{
                font-size: 18px;
                font-weight: 400;
                color: #fff;
            }
        }
    }
}

@keyframes zoomIn{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.02);
    }
    100%{
        transform: scale(1);
    }
}
@media (max-width:1080px) {
    .about_container{
        height: 100%;
        .aboutCard{
            display: flex;
            justify-content: center;
            .imgCard{
                width: 30%;
            }
            .aboutTextContainer{
                width: 100%;
                h1{
                    font-size: 24px;
                    font-weight: 400;
                    color: #fff;
                }
                h2{
                    font-size: 16px;
                    font-weight: 400;
                    color: #fff;
                
                }
            }
        }
        .aboutTextContainer{
            padding: .5em;
            .titleText{
                margin-top: 1em;  
            }
            .aboutText{
                margin-top: 2em;
                width: 85%;
                h2{
                    font-size: 8px;
                    font-weight: 300;
                }
            }
        }
        .imgContainer{
            width: 60%;
        }
    }

}
.spans{
    display: flex;
    width: 80%;
    flex-direction: column;
    text-align: right;
}
.aboutItem {
    color: #fff;
    margin-top: 16px;
}

.aboutSpan::after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: var(--colors-neutral-900); 
    border-radius: 50%;
    margin-left: 16px;
}
.aboutButtons{
    display: flex;
    width: 90%;
    justify-content: center;
    flex-direction: row;
    margin-top: 4%;
}
.aboutButton{
    margin-left: 2em;
}
@media (max-width:768px) {
    .about_container{
        justify-content: center;
        .aboutCard{
           
            .aboutTextContainer{
                width: 100%;
                padding: 1em;
                margin: 0;
                .textContent{
                    width: auto;
                }
                .titleText{
                    margin-top: 2em;
                }
                .aboutText{
                    margin-top: 2em;
                    width: 100%;
                    h2{
                        font-weight: 500;
                    }
                }
            }
        }
        .imgContainer{
            display: none;
        }
        .spans{
            width: 100%;
        }
        .aboutButtons{
            align-items: center;
            flex-direction: column;
        }
    }
}

@media (max-width:420px) {
    .about_container{
        height: 100%;
        .aboutCard{
            padding: 1px;
            .aboutTextContainer{
                h1{
                    font-size: 18px;
                }
                h2{
                    font-size: 12px;
                }
            }

        }
    }
}