.contactContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 2em;
    transition: all .8s ease-in-out;
    background-color: #161616;
    span{
        color: var(--colors-neutral-900);
    }
    .contactForm{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        .logoCard{
            width: 30em;
            height: 16em;
        }
        .textTitle{
            display: flex;
            flex-direction: row;
            width: 45%;
            text-align: left;
            span{
                font-size: 24px;
                color: var(--colors-neutral-900);
                font-weight: 800;
            }
        }
        .textSubTitle{
            display: flex;
            flex-direction: row;
            width: 55%;
            text-align: left;
            span{
                font-size: 24px;
                color: var(--colors-neutral-900);
                font-weight: 600;
            }
        }
    }
    .textContactForm{
        width: 36%;
        height: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        h1{
            margin-bottom: 2em;
            font-weight: 800;
            font-size: 28px;
        }
        h2{
            font-size: 16px;
        }
        
    }
    form{
        display: flex;
        flex-direction: column;
        width: 40%;
        .buttonContainer{
            .textButons{
                display: flex;
                flex-direction: row;
            }
            h1{
                font-size: 24px;
                font-weight: 700;
                text-align: left;
                font-family: jaldi;
            }
            h2{
                font-size: 14px;
                font-weight: 500;
                margin-top: 8px;
                margin-left: 8px;
                text-align: left;
                font-family: jaldi;
            
            }
            .buttonsCard{
                display: flex;
                flex-wrap: wrap;
                padding: 16px;
                gap: 10px;

                .buttonCard{
                    width: 24%;
                    height: 4em;
                }
            }
                
        }
    }
    .card{
        width: 80%;
        height: 6em;
    }
    .textareaCard{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 6em;
        label{
            color: var(--colors-neutral-100);
        }
        textarea{
            width: 100%;
            height: 100%;
            padding: 8px;
            border: none;
            font-size: 14px;
            cursor: not-allowed;
            background-color: rgb(196, 196, 196);
        }
        textarea:focus {
            outline: none;
        }
    }
    .submitContainer{
        width: 30%;
        height: 2em;
        margin: 1em;
        display: flex;
        justify-content: center;
        .submitButton{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45%;
            height: 100%;
            font-weight: 550;
            color: var(--colors-secondary-800);
            background-color: var(--colors-secondary-50);
            border-radius: 2px;
            border: none;
            cursor: pointer;
            transition: all .5s;
            text-decoration: none;
            a{
                color: black;
            }
        }
    }
    .submitButton:hover{
        background-color: var(--colors-secondary-800);
        border: 1px solid var(--colors-secondary-50);
        a{
            color: var(--colors-secondary-50);
        }
    }
}



@media (max-width:768px) {
    .contactContainer{
        form{
            width: 100%;
            .card{
                width: 80%;
            }
            .textareaCard{
                width: 80%;
            }
        }
        .contactForm{
            flex-direction: column;
        }
        .textContactForm{
            width: 100%;
            h1{
                margin-bottom: 1em;
            }
            h2{
                font-size: 16px;
            }
        }
        .submitContainer{
       width: 50%;
            .submitButton{
                width: 100%;
            }
    }
}

}
