.contactContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: height 0.5s ease-in-out; 
    background-color: #161616;

    span {
        color: var(--colors-neutral-900);
    }

    .contactForm {
        display: flex;
        transition: all 1s ease-in-out;
        flex-direction: row;
        width: 80%;
        height: auto; 
        margin-top: 2em;
        justify-content: space-around;

        .logoCard {
            width: 30em;
            height: 16em;
        }

        .textTitle {
            display: flex;
            flex-direction: row;
            width: 94%;
            text-align: center;

            span {
                font-size: 24px;
                color: var(--colors-neutral-900);
                font-weight: 800;
            }
        }

        .textSubTitle {
            display: flex;
            flex-direction: row;
            width: 80%;
            text-align: center;
          
            span {
                font-size: 24px;
                color: var(--colors-neutral-900);
                font-weight: 600;
            }
        }
    }

    .phoneCard {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .DDDItem {
            padding: 8px;
            margin-top: 8px;
            margin-right: 8px;
            width: 10%;
            height: 3em;
        }
    }

    .textContactForm {
        width: 30%;
        background-color: #161616;
        border-radius: 4px;
        box-shadow: 0px 0px 8px 0px #d6d6d6;
        height: 36em;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: none;
        transition: all ease-in-out .5s;
        animation: blockUpDown 5s ease-in infinite;

        h1 {
            margin-bottom: 2em;
            font-weight: 800;
            font-size: 28px;
        }

        h2 {
            font-size: 16px;
        }
    }

    .textContactForm:hover {
        box-shadow: 0px 0px 16px 0px #d6d6d6;
        transform: scale(1.1);
    }

    @keyframes blockUpDown {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(10px);
        }
        100% {
            transform: translateY(0);
        }
    }

    form {
        display: flex;
        flex-direction: column;
        width: 40%;
        overflow: hidden;
        align-items: center;
        position: relative;

        label {
            margin-top: 8px;
            color: #FFFF;
        }

        input {
            border-radius: 4px;
            border: solid 1px #4200FF;
            animation: fadeTop 1s ease-in-out;
        }

        .buttonContainer {
            .textButons {
                display: flex;
                flex-direction: row;
            }

            h1 {
                font-size: 24px;
                font-weight: 700;
                text-align: left;
                font-family: jaldi;
            }

            h2 {
                font-size: 14px;
                font-weight: 500;
                margin-top: 8px;
                margin-left: 8px;
                text-align: left;
                font-family: jaldi;
            }

            .buttonsCard {
                display: flex;
                flex-wrap: wrap;
                padding: 16px;
                gap: 10px;
                justify-content: space-around;

                .buttonCard {
                    width: 28%;
                    height: 4em;
                }
            }
        }
    }

    .card {
        width: 100%;
        height: auto;
        margin-bottom: 8px;

        .aboutTitle {
            h1 {
                font-size: 24px;
                font-weight: 700;
            }

            span {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }

    .selectProjetct {
        width: 100%;

        .textButons {
            height: 6em;
        }
    }

    .textareaCard {
        display: flex;
        flex-direction: column;
        width: 80%;

        label {
            color: var(--colors-neutral-100);
        }

        textarea {
            width: 100%;
            padding: 8px;
            border: 8px;
            font-size: 14px;
            resize: none;
            height: 10em;
            border-radius: 8px;
            border: solid 1px #4200FF;
        }

        textarea:focus {
            outline: none;
        }
    }

    .submitContainer {
        width: 30%;
        height: 2em;
        margin: 1em;
        display: flex;
        justify-content: center;

        .submitButton {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80%;
            height: 100%;
            font-weight: 550;
            background-color: var(--colors-neutral-900);
            border-radius: 16px;
            border: none;
            cursor: pointer;
            transition: all 0.5s;
            text-decoration: none;
            color: white;

            a {
                color: #FFFF;
            }
        }

        .submitButton:hover {
            background-color: #FFFFFF;

            a {
                color: #000;
            }
        }
    }

    .submitButton:hover {
        background-color: var(--colors-secondary-800);
        border: 1px solid var(--colors-secondary-50);

        a {
            color: var(--colors-secondary-50);
        }
    }
}

.buttonCardContact {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 16px 0;

    h2 {
        margin-top: 8px;
        font-size: 16px;
        font-weight: 600;
        color: #FFFF;
    }

    .buttonOptions {
        width: 30%;
        margin-left: 8px;
    }
}

@keyframes fadeTop {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@media (max-width: 1666px) {
    .contactContainer {
        .contactForm {
            width: 100%;
        }
    }
}

@media (max-width: 1366px) {
    .contactContainer {
        form {
            .buttonContainer {
                .buttonsCard {
                    gap: 4px;

                    .buttonCard {
                        width: 36%;
                    }
                }
            }
        }
    }

    .buttonCardContact {
        flex-direction: column;

        .buttonOptions {
            width: 40%;
            margin-top: 8px;
        }
    }
}

@media (max-width: 980px) {
    .contactContainer {
        align-items: center;
        .textContactForm {
            width: 60%;
        }
    }
}

@media (max-width: 768px) {
    .contactContainer {
        .contactForm {
            height: auto;
            flex-direction: column;
            align-items: center;
            .logoCard {
                width: 80%;
            }

            .textTitle {
                width: 80%;
            }

            .textSubTitle {
                width: 80%;
                text-align: center;
            }
        }
        .selectProjetct{
            width: 80%;
        }

        form {
            width: 100%;
            margin-top: 4em;
            height: auto;

            .card {
                width: 80%;
            }

            .textareaCard {
                width: 80%;
            }

            .buttonContainer {
                .buttonsCard {
                    .buttonCard {
                        width: 48%;
                    }
                }

                h1 {
                    text-align: center;
                }

                .textButons {
                    flex-direction: column;
                }
            }
        }

        .textContactForm {

            h1 {
                margin-bottom: 1em;
            }

            h2 {
                font-size: 16px;
            }
        }

        .submitContainer {
            width: 50%;

            .submitButton {
                width: 100%;
            }
        }

        .phoneCard {
            .DDDItem {
                width: 35%;
            }
        }
    }

    .buttonCardContact {
        flex-direction: column;

        .buttonOptions {
            width: 100%;
        }
    }
 
}

@media (max-width: 480px) {
    .contactContainer {
        .contactForm {
            .textTitle, .textSubTitle {
                width: 100%;
                font-size: 18px; 
            }
        }

        .textContactForm {
            height: auto;
            padding: 1em;

            h1 {
                font-size: 24px; 
            }

            h2 {
                font-size: 14px; 
            }
        }

        form {
            .buttonContainer {
                .buttonsCard {
                    .buttonCard {
                        width: 100%;
                    }
                }
            }
        }

        .submitContainer {
            width: 80%; 
        }
    }
}