.detailsContainer{
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    padding-top: 6em;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    p{
        font-size: 18px;
        font-weight: 400;
    }
    .mainImage{
        width: 480px;
        height: 280px;
    }
}
.detailsTitle{
    width: 80%;
    height: 100%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    h1{
        font-size: 36px;
    }
    h2{
        font-size: 22px;
        font-weight: 600;
        color: #5609F9;
    }
}
.aboutProjectContainer{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin-top: 2em;
    align-items: center;
    justify-content: space-around;
    .aboutCard{
        width: 40%;
        h3{
            font-size: 24px;
            font-weight: 600;
            color: #5609F9;
        }
        p{
            font-size: 16px;
            font-weight: 500;
        }
        strong{
            font-size: 24px;
            font-weight: 600;
            color: #5609F9;
        }
    }
}
.techCard{
    width: 40%;
    h3{
        font-size: 24px;
        font-weight: 600;
        color: #5609F9;
    }
    ul{
        padding: 0;
    }
    li{
        font-size: 16px;
        font-weight: 500;
        display: flex;
        align-items: center;
        svg{
            margin-right: 8px;
            color: #5609F9;
        }
    }
}
.imagesCard{
    width: 100%; 
    height: 100%; 
    overflow-x: auto;
    overflow-y: hidden; 
    display: flex;
    margin-top: 3em;
    scrollbar-width: none;
    border-radius: 2em;
    transition: scroll 2s ease-in-out;
    &::-webkit-scrollbar {
        display: none; 
    }

    .stacks {
        display: flex;
        flex-direction: row;
        align-items: center;
        scrollbar-width: none;
        transition: scroll 2s ease-in-out;
        &::-webkit-scrollbar {
            display: none; 
        }
    }
   
}

.stackItem {
    width: 100%; 
    height: 100%;
    padding: 0 0 0px 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:  60px;
    margin-right: 2em;
    flex: 0 0 auto; 
    img{
        width: 100%;
        height: 100%;
    }
}

.buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    width: 100%;
    button {
      width: 24px;
      height: 16px; 
      border-radius: 8px;
      border: none;
      background-color: #606060;
      margin: 0 0.5em;
      cursor: pointer;
      animation: buttonShrink 1.8s ease forwards; 
    }
  
    .activeButton {
      width: 64px;
      background-color: #D9D9D9;
      animation: buttonExpand 0.4s ease forwards; 
    }
  }
  .caracteristicsContainer{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 2em;
    flex-direction: column;
    background-color: #FFFFFF;
    align-items: center;
    justify-content: center;
    h1{
        width: 50%;
        text-align: center;
    }
  }
  .layoutCard, .contentCard{
    width: 70%;
    height: 24em;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2em;

  }
  .text{
    width: 30%;
    height: 100%;
    h3{
        font-size: 28px;
    }
    span{
        font-size: 16px;

    }
  }
  .imagemLayout{
    width: 50%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url('../../assets/images/layout.png');
  }
  .imagemContent{
    width: 50%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    background-image: url('../../assets/images/content.png');
  }
  @media(max-width: 1366px){
    .detailsContainer{
        .caracteristicsContainer{
            .layoutCard, .contentCard{
                height: 100%;
                margin-bottom: 2em;
                .text{
                    width: 50%;
                }
            }
           
        }
    }
  }
  @media(max-width: 1080px){
    .detailsContainer{
        .caracteristicsContainer{
            .layoutCard, .contentCard{
                flex-direction: column;
                width: 90%;
                height: auto;
                margin-bottom: 2em;
                align-items: center;
            }
        }
    }
    .aboutProjectContainer{
        .aboutCard{
            h3{
                font-size: 20px;
            }
            p{
                font-size: 14px;
            }
        }
    }

}
  @media(max-width: 780px){
    .detailsContainer{
        .caracteristicsContainer{
            .layoutCard, .contentCard{
                flex-direction: column;
                
                .text{
                    width: 90%;
                    text-align: center;
                }
            }
           
        }
    }
    .aboutProjectContainer{
        flex-direction: column;
        .aboutCard{
            width: 90%;
        }
    }
    .techCard{
       width: 90%;
    }
  }