.banner {
    width: 100%;
    height: 36em;
    background-color: #161616;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    margin-top: 2em;
    position: relative;
}

.bannerContent {
    flex: 1;
    max-width: 600px; 
    margin-left: 10%; 
    height: 100%;
    padding: 2em;
    display: flex;
    z-index: 5;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
}

.bannerButtons{
    width: 50%;
    height: 3em;
    border: solid 2px #FFFF;
    color: #FFFF;
    transition: all ease-in-out .3s;
    cursor: pointer;
    &:hover{
        background-color: #5D24FE;
        transform: scale(1.1);
    }
}
.bannerContent h1 {
    color: #5D24FE;
    font-size: 24px;
    width: 100%; 
}

.bannerContent h2 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 400;
}

.bannerContent p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
}

.bannerImage {
    position: absolute;
    width: 70%;
    right: 0;
    height: 100%;
    background-size: cover;
    background-image: url('../../assets/images/banner.png');
}


@media (max-width: 768px) {
    .banner {
        height: auto; 
        flex-direction: column;
    }

    .bannerContent {
        width: 90%;
        margin-left: 5%;
        text-align: center;
        align-items: center;
    }

    .bannerContent h2 {
        font-size: 28px;
    }

    .bannerContent p {
        font-size: 14px;
    }

    .bannerImage {
        display: none;

    }
}
